/* ===== CABEÇALHO ===== */
.header {
    /* Gradiente do amarelo para branco */
    background: linear-gradient(to bottom, #FFCA00 0%, #FFE580 80%, #FFFFFF 100%);

    height: 172px;

    /* Espaçamento interno do header */
    padding-top: 33px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 39px;

    /* Fonte Montserrat */
    font-family: 'Montserrat', sans-serif;
}

/* Área superior do header */
.header-top {
    display: flex;
    align-items: center; /* centraliza verticalmente */

    height: 61px;  /* altura exata da linha */
}

/* Logo LOCATEM */
.header-top .logo {
    width: 338.55px;
    height: 73.6px;
    margin-right: 53px; /* distância logo → barra */
}

/* Ícone de chat */
.header-top .chat {
    width: 46px;
    height: 46px;
    cursor: pointer;
}

/* ===== BARRA DE PESQUISA ===== */
.search-bar {
    width: 919px;
    height: 46px;

    display: flex;
    align-items: center;

    background: #fff;
    border-radius: 999px;
    padding: 0px 24px;
     margin-right: 75px; /* distância até o chat */
}

/* Campo de texto da busca */
.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
}

/* Botão da lupa */
.search-bar button {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;
    cursor: pointer;
}

/* Ícone da lupa */
.search-bar img {
    width: 25px;
    height: 25px;
}

/* ===== MENU ===== */
.menu {
    margin-top: 28px;

    display: flex;
    justify-content: center;
    gap: 41px;
}

/* Links do menu */
.menu a {
    display: flex;
    align-items: center;
    gap: 12px; /* ícone ↔ texto */

    font-size: 16px;
    font-weight: 600; /* SemiBold */
    color: #000;
    text-decoration: none;
}

/* Ícones do menu */
.menu img {
    width: 16px;
    height: 16px;
}

/* ===== CONTEÚDO PRINCIPAL ===== */
.container {
    /* Espaçamento grande para acomodar o carrossel */
    padding: 211px 51px 370px;
}